body {
  background-color: #c7f9cc;
  justify-content: center;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-size: 3em;
  font-weight: 500;
}

#playground {
  margin: 0 auto;
  background-color: hwb(134 37% 32%);
  width: 800px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
}

#playground > *:nth-child(even) {
  background-color: #80ed99;
}

#playground > *:nth-child(odd) {
  background-color: #57cc99;
}

#playground .snake {
  background-color: #22577a;
}

#playground .food {
  background-color: red;
}

button {
  width: 200px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: xx-large;
  font-family: "Times New Roman", Times, serif;
  background-color: #dbfcff;
  color: #7f96ff;
  visibility: hidden;
}

.show {
  visibility: visible;
}
